---
import Linkedin from './icon/Linkedin.astro'
import Github from './icon/Github.astro'
import Mail from './icon/Mail.astro'
import SocialBadge from '../layouts/SocialBadge.astro'
import CopyIcon from './icon/CopyIcon.astro'
---
<div id='about' class='bg-gradient-to-r from-white to-primary-50 w-full'>
  <section class="flex items-center justify-center py-28">
    <article class='flex flex-row gap-x-24 items-center w-2/3'>
      <div class='space-y-3'>
        <h1 class="text-4xl font-medium">Hey! I'm <span class='text-primary-500'>Oscar Gracia</span></h1>
        <p>
          +10 years of industry experience as a <span class="text-indigo-500 font-semibold">Full Stack Developer</span>, I have a passion for building innovative and scalable software solutions. 
        </p>

        <div id='social' class='flex flex-row justify-start items-center gap-x-3 py-3'>
          <SocialBadge href="https://www.linkedin.com/in/ogracia/">
            <Linkedin />
            <span>LinkedIn</span>
          </SocialBadgea>
          <SocialBadge href="https://github.com/oscargraciae">
            <Github />
            <span>Github</span>
          </SocialBadge>
          <div class="flex flex-row items-center group">
            <SocialBadge href="mailto:oscar.graciae@gmail.com">
              <Mail />
              <span id="email">oscar.graciae@gmail.com</span>
            </SocialBadge>
            
            <div class="flex flex-row items-center">
              <button
                id="clipboard"
                class="mx-2 invisible group-hover:visible relative">
                <CopyIcon class="w-4 h-4" />
                </span>
              </button>
              
              <span id="copied-message" class="top-0 -right-16 text-green-600 hidden">
                Copied!
              </div>
          </div>
        </div>
      </div>

      <div class="avatar relative">
        <div class='w-44 h-44 bg-primary-100 absolute rounded-full pulse-avatar' />
        <div class="w-44 rounded-full shadow-md ring ring-primary-500 ring-offset-base-100 ring-offset-1 z-30">
          <img src="https://pbs.twimg.com/profile_images/1496256480600801290/KSb0Ezkh_400x400.jpg" />
        </div>
      </div>

    </article>
  </article>

</div>

<div class='flex flex-col items-center justify-center w-full mt-8'>
  <div class='flex flex-row items-center justify-center gap-x-3'>
    <h2 class='text-2xl font-medium'>I'm currently working with</h2>
  </div>
  <div class='flex flex-row items-center justify-center gap-x-6 py-6'>
    <img src="/logos/nodejs.svg" height={32} />
    <img src="/logos/react.svg" height={32} />
    <img src="/logos/logo-javascript.svg" height={32} />
    <img src="/logos/typescript.svg" height={32} />
    <img src="/logos/tailwind.svg" height={32} />
    <img src="/logos/nextjs.svg" height={32} />
    <img src="/logos/astro.svg" height={32} />
    <img src="/logos/vercel.svg" height={32} />
    <img src="/logos/flutter.svg" height={32} />
    <!-- <img src="/logos/rails.svg" height={32} /> -->
    <img src="/logos/postgresql.svg" height={32} />
    <img src="/logos/transack.svg" height={32} />
  </div>
</div>
<!-- bg-[#d1d1f7] -->

<style>
  .pulse-avatar {
    animation: pings 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .show-copy-message {
    animation: hideMessage 6s cubic-bezier(0, 0, 0.2, 1) forwards;
  }

  @keyframes hideMessage {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes pings {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
</style>

<script>
  const buttonCopy = document.querySelector('#clipboard')
  const emailText = document.querySelector('#email')

  buttonCopy?.addEventListener('click', () => {
    navigator.clipboard.writeText(emailText?.textContent || '')

    const copyMessage = document.querySelector('#copied-message')

    copyMessage?.classList.remove('hidden')
    copyMessage?.classList.add('show-copy-message')

    setTimeout(() => {
      copyMessage?.classList.remove('show-copy-message')
      copyMessage?.classList.add('hidden')
    }, 5000)
  })
</script>